<!--Nav-->
<nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">M<i class="fas fa-voicemail"></i>D </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink='inicio' href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='servicios' href="#">Servicios</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" routerLink='promociones' href="#">Productos</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" routerLink='contacto' href="#">NewsLetter</a>
                </li> 
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
