<!--Section-->
<section class="container-fluid bg-light text-center fs-2 fw-bold mt-5 mb-4 pt-5 pb-5" id="planes de internet">Planes de Internet
    <div class="row p-0">
        <div class="col-12 my-2 col-md-6 section-element bg-white lh-lg mx-0 mb-0 mt-5 p-5 ">
            <p class="text-center fs-1 text-black">PLANES PREPAGO</p>
            <h5 class="text-black">Tenés más de lo que pagás: WhatsApp gratis, datos de regalo, llamadas ilimitadas</h5>
            <button class="btn btn-outline-info text-center fs-3 mt-3" type="button">MÁS INFO</button>
        </div>
        <div class="col-12 my-2 col-md-6 section-elementos bg-black lh-lg mx-0 mb-0 mt-0 mt-md-5 p-5">
            <p class="text-center fs-1 text-white">PLANES POSPAGO</p>
            <h5 class="text-white mb-4">Pagás tu abono mensual con factura</h5>
            <button class="btn btn-outline-info text-center fs-3 mt-3" type="button">MÁS INFO</button>
        </div>
    </div>
</section>
