<!--footer-->
<footer class="container-fluid bg-dark bg-gradient">
    <div class="row">
        <div class="col-12 col-md-6 my-4 px-5">
            <h4 class="fs-3 fw-bold mb-4 text-white">¡Mantenete informado!</h4>
            <p class="mb-0">
                <a href="https://www.instagram.com/?hl=es" target="_blank">
                    <i class="fab fa-instagram fs-5 mb-1"> mood_telefonia</i>
                </a>
            </p>
            <p class="mb-0">
                <a href="https://es-la.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fs-5 mb-1"> mood_telefonia</i>
                </a>
            </p>
            <p class="mb-0">
                <a href="https://www.google.com/intl/es-419/gmail/about/" target="_blank">
                    <i class="fas fa-at fs-5 mb-1"> moodtelefonia@gmail.com</i>
                </a>
            </p>
        </div>
        <div class="col-12 col-md-6 my-4 px-5 mb-1">
            <h4 class="fs-2 fw-bold text-primary">M<i class="fas fa-voicemail"></i>D </h4>
            <p class="text-white">Defensa de las y los Consumidores: para reclamos envíenos un e-mail, nos encargaremos de solucionar el problema.</p>
            <p class="text-white">Todos los derechos reservados. MOOD - 2021</p>  
        </div>
    </div>
</footer>
