<!--Form-->
<div class="container mt-5 pt-5" id="NewsLetter">
    <h2 class="mb-4">Suscribite a nustro NewsLetter <span class="fs-2 fw-normal">para estar al tanto de las nuevas promociones!</span> </h2>
    <form class="row g-3 p-2">
      <div class="col-md-6">
        <label for="firstName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="firstName" required>
      </div>
      <div class="col-md-6">
        <label for="lastName" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="lastName" required>
      </div>
      <div class="col-md-8 mb-3">
        <label for="emailInfo" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="emailInfo" required>
      </div>
      <div class="col-md-4 mb-">
        <label for="phoneNumber" class="form-label">Teléfono</label>
        <input type="text" class="form-control" id="phoneNumber">
      </div>
      <button type="submit" class="col-12 bg-info border-info text-body p-2 ms-2 mb-4" style="width: 80.5vw;">Enviar</button>
    </form>
</div>
