<!--Hero-->
<div id="carouselExampleCaptions" class="carousel slide h-50 h-md-100" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item bg-light active">
            <img src="https://cdn.pixabay.com/photo/2021/08/25/10/16/woman-6573021_960_720.jpg" class="img-hero d-block w-100 mx-0" alt="Plan de telefonía familiar">
        <div class="carousel-caption w-100 h-md-50 mx-0 my-0 p-5 d-none d-md-inline-block position-sticky">
            <p class="fs-3 text-center mb-0">Contamos con el equipo más capacitado para ayudarte con lo que necesites</p>
        </div>
    </div>
    <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1598870784088-35e7058da12c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80" class="img-hero d-block w-100 mx-0" alt="Plan de telefonía familiar">
        <div class="carousel-caption w-100 mx-0 my-0 p-5 d-none d-md-block position-sticky">
            <p class="fs-3 text-center mb-0">Obtené un plan familiar para conectar con tus seres queridos en todo momento</p>
        </div>
    </div>
    <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" class="img-hero d-block w-100 mx-0" alt="Plan de telefonía familiar">
        <div class="carousel-caption w-100 mx-0 my-0 p-5 d-none d-md-block position-sticky">
            <p class="fs-3 text-center mb-0">Tenemos cobertura mundial = Podés comunicarte con quien sea, en cualquier rincón del planeta</p>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
