<!--Cards promociones-->
<div class="container-fluid bg-light cards text-center fs-2 fw-bold mt-5 pt-5 pb-5" id="promociones">Promociones únicas
    <div class="row justify-content-around p-4 mt-9">
        <div class="col-12 my-2 col-md-3 section-element card" style="width: 22rem;">
            <img src="https://http2.mlstatic.com/D_NQ_NP_738844-MLA44846545667_022021-O.jpg" class="card-img1 w-100 w-md-50 ms-2" alt="Galaxy S21 Ultra">
            <div class="card-body">
                <h5 class="card-title text-start fs-1 fw-bold mt-3 mb-0">Galaxy S21 <span class="fs-2">Ultra</span></h5>
                <p class="card-text text-start fs-3 fw-normal mb-3">512 GB</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-start fs-3 fw-normal">$180.999 <span class="text-decoration-line-through text-muted fs-4">$199.999</span> </li>
                <li class="list-group-item text-start fs-5 fw-normal"><p>La resolución más alta posible en un teléfono inteligente.</p> 
                   <p>La pantalla más vívida y brillante en un teléfono inteligente.</p> 
                   <p>El chip más rápido en un teléfono Galaxy.</p> </li>
            </ul>
            <div class="card-body">
                <button class="btn btn-outline-info text-center fs-4" type="button">QUIERO COMPRARLO</button>
            </div>
        </div>
        <div class="col-12 my-2 col-md-3 section-element card" style="width: 22rem;">
            <img src="https://http2.mlstatic.com/D_NQ_NP_764430-MLA43642740249_102020-O.jpg" class="card-img2 h-75 h-md-75 w-100 w-md-50 ms-2" alt="Galaxy Note 20">
            <div class="card-body">
                <h5 class="card-title text-start fs-1 fw-bold mt-3 mb-0">Galaxy Note20</h5>
                <p class="card-text text-start fs-3 fw-normal mb-3">256 GB</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-start fs-3 fw-normal">$120.099 <span class="text-decoration-line-through text-muted fs-4">$125.999</span> </li>
                <li class="list-group-item text-start fs-5 fw-normal"><p>El procesador actualizado proporciona un mejor rendimiento.</p> 
                   <p>Baja latencia, brinda una experiencia realista de lápiz.</p> 
                   <p>Cámara de nivel profesional.</p> </li>
            </ul>
            <div class="card-body">
                <button class="btn btn-outline-info text-center fs-4" type="button">QUIERO COMPRARLO</button>
            </div>
        </div>
        <div class="col-12 my-2 col-md-3 section-element card" style="width: 22rem;">
            <img src="https://m.media-amazon.com/images/I/71B30Uv+dcS._AC_SS450_.jpg" class="card-img3 h-75 h-md-75 w-100 w-md-50 ms-2 mt-3 mb-4" alt="Galaxy Z Fold2">
            <div class="card-body">
                <h5 class="card-title text-start fs-1 fw-bold mt-3 mb-0">Galaxy Z Fold2</h5>
                <p class="card-text text-start fs-3 fw-normal mb-3">256 GB</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-start fs-3 fw-normal">$220.099 <span class="text-decoration-line-through text-muted fs-4">$239.999</span> </li>
                <li class="list-group-item text-start fs-5 fw-normal"><p>Desplegado, ofrece una mirada más amplia al mundo.</p> 
                   <p>Sigue con tu multitarea para que sigas adelante.</p> 
                   <p>Flexible para infinitas posibilidades.</p> </li>
            </ul>
            <div class="card-body">
                <button class="btn btn-outline-info text-center fs-4 mb-0" type="button">QUIERO COMPRARLO</button>
            </div>
        </div>
    </div>
</div>

